
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetMyLogin</title>
</head>
<body>
    <div> 
        Hello I am @ViewBag.Name
    </div>
</body>
</html>
