@model AGTIV.SPApp.Template.Entities.SampleViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p><label>Title </label><span>@Model.Title</span></p>
<p><label>Description </label><span>@Model.Description</span></p>