@model AGTIV.SPApp.Template.Entities.GradesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p><label>Title </label><span>@Model.Grade.CourseTitle</span></p>
<p><label>Description </label><span>@Model.Grade.Passed</span></p>