<!-- This is a partial view. -->
<!-- It draws a div using the following specifications each time it is called. -->
<div style="
        background-color:green;
        position:relative;
        top:30px;
        left:25px;
        width:150px;
        height:75px;
        font-family:Calibri;
        font-weight:bold;
        color:white;
        text-align:center;
        padding-top:20px;
        font-size:large;">

    <!-- Displays the following text within the partial view -->
    I'm a partial view
</div>
