<!-- This is a partial view. -->
<!-- It draws a div using the following specifications each time it is called. -->
<div style="        
        background-color: cornflowerblue;
        float:left;
        position:relative;
        left:20px;
        top:20px;
        width: 200px;
        height: 250px;
        font-family: Calibri;
        font-weight: bold;
        color: white;
        text-align: center;
        font-size: large;">

    <!-- Partial views can be called within partial views! Think of it like going deeper and deeper into a file directory. -->
    @Html.Partial("GreenPartialView")

    <!-- This division displays the already centre-aligned text at the bottom of the div it is nested within. -->
    <div style="padding-top:150px">I'm View 1</div>
</div>
